.friends_box {
  margin-top: 20px;
}
.friends_box h4 {
  font-size: 1.2rem;
}
.friends_box #_bx_item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  scroll-behavior: smooth;
}
.friends_box #_bx_item::-webkit-scrollbar {
  display: none;
  pointer-events: none;
}
.friends_box #_bx_item::-webkit-scrollbar-thumb {
  display: none;
  pointer-events: none;
}
.friends_box #box {
  padding: 20px 40px;
  background-color: #fff;
  margin-right: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.friends_box #box img {
  border-radius: 50%;
}
#box #front_details {
  margin-top: 10px;
}
#front_details #f_name {
  font-weight: 500;
  font-size: 1.3rem;
}
#front_details #f_country {
  color: #6f38c5;
  font-weight: 500;
  font-size: 14px;
}
#front_details #f_bio {
  font-weight: 500;
}
#front_details button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #6f38c5;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}
