.post_box {
  width: 100%;
}
#wrapper {
  width: 100%;
}
.post_box_wrapper {
  height: 100%;
  max-height: 400px;
  overflow: auto;
  scroll-behavior: smooth;
}
.wrapper_item {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.nxd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nxdleft img {
  border-radius: 50%;
}
.nxdleft {
  display: flex;
  align-items: center;
}
.nxdright {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.name #name {
  font-weight: 500;
  font-size: 15px;
}
.uniqueName {
  margin-left: 5px;
}
.uniqueName span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 62, 66);
}
.checkMark {
  margin-left: 5px;
}
.nxd_outer_space {
  display: flex;
  align-items: center;
}
.dte #date {
  font-size: 14px;
  color: rgb(51, 62, 66);
  margin-right: 10px;
}
#drpdwn_btn i {
  padding: 5px 5px;
  background-color: rgb(198, 217, 224);
  color: rgb(57, 64, 66);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
}
.pst_body {
  margin-left: 58px;
}
#pst_content span {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}
.mediaContent {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
}
#imageMediaContent img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#imageMediaContent img:hover {
  filter: hue-rotate(10deg);
  cursor: crosshair;
}
.mediaContent .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mediaContent .left {
  display: flex;
  align-items: center;
}
.mediaContent .left span {
  font-weight: 500;
}
.uploadWrapper {
  height: 100%;
  max-height: 400px;
  overflow: auto;
  scroll-behavior: smooth;
  margin-top: 15px;
}
.mediaContent #date {
  font-size: 14px;
  color: rgb(51, 62, 66);
  margin-right: 10px;
}
.mediaContent .right_col span {
  font-weight: 500;
  font-size: 15px;
}
.mediaContent .right_col {
  display: flex;
  align-items: center;
}
.mediaContent .right_col #dropdwnbtn i {
  padding: 5px 5px;
  background-color: rgb(198, 217, 224);
  color: rgb(57, 64, 66);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
}
