@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');
.trendBody {
  width: 100%;
}

/* The body of the Trends Page */
#body_ {
  width: 100%;
  /* z-index: -88; */
  padding: 25px;
}
#body_ #top_text p {
  color: #1D1CE5;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}
#body_ #top_text h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
}
#trends_container {
  width: 100%;
  margin-top: 15px;
}
#trends_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#trend_box {
  width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px 0 10px 10px;
  border-radius: 10px;
}
#trend_image_container {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
#trend_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
}
#trend_box:hover img {
  scale: 1.1;
}
#trend_text_container h3 {
  margin-top: 14px;
  font-weight: 600;
  font-size: 1.4em;
}
#trend_text_container p strong {
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
#count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
#count span {
  font-size: 14px;
  font-weight: 500;
  color: #50577A;
  display: flex;
  align-items: center;
  justify-content: center;
}
#count span i {
  margin-right: 5px;
  color: #1D1CE5;
}
#call_to_action {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#cta_btn {
  width: 500px;
  padding: 15px;
  margin: 10px 8px 0 0;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #F7F7F7;
  background-color: #2146C7;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cta_btn:hover {
  background-color: #1D1CE5;
}
#cta_btn i {
  margin-right: 5px;
}
@media screen and (max-width: 866px) {
  #trend_box {
    width: 100%;
  }
  .trends_wrapper {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
  }
}
