.cols {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  padding: 0 30px;
}
.col-1 {
  width: 100%;
  max-width: 300px;
  position: -webkit-sticky;
  position: sticky;
  /* background-color: red; */
  top: 0;
  height: 100%;
}
.col-1 .col-1-tabs .col-1-tab-em .tab-em {
  width: 180px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s cubic-bezier(0.11, -0.09, 0.66, 0.64);
}
.col-1-tab-em .tab-em i {
  font-size: 1.6rem;
}

.col-1-tab-em .tab-em i {
  color: #6f38c5;
}
.col-1 .col-1-tabs .col-1-tab-em .tab-em:hover {
  padding-left: 28px;
}
.col-1-tab-em .tab-em #span {
  font-size: 1.2rem;
  margin-left: 15px;
}
.col-1-tab-send-button button {
  width: 180px;
  padding: 14px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #6f38c5;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.11, -0.09, 0.66, 0.64);
}
.col-1-tab-send-button button:hover {
  background-color: #5522a7;
}
.col-2 {
  width: 100%;
  margin-top: 20px;
}
.col-2 .col-2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}
.col-2-header #c19 {
  margin-right: 20px;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: transparent;
  color: rgb(151, 151, 151);
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.col-2-header #c19.active {
  background-color: var(--light);
  border-color: #6f38c5;
  color: black;
}
.col-2-input_box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.col-2-input_box img {
  border-radius: 50%;
}
.col-2-input_box .ipt-right {
  margin-left: 10px;
  width: 100%;
  height: 100%;
}
.col-2-input_box .ipt-right input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: none;
  outline: none;
}
.col-2-input_box .ipt-right input::placeholder {
  color: rgb(51, 62, 66);
  font-weight: 500;
}
.ipt-right-off-corner #ipt_icon i {
  padding: 8px 8px;
  background: #dad0ea;
  border-radius: 50%;
  color: #6f38c5;
  font-size: 1.4rem;
  margin-right: 9px;
  cursor: pointer;
}
.ipt-left {
  margin-left: 10px;
}

.post_box {
  width: 100%;
}
@media screen and (max-width: 1166px) {
  .friends_box #_bx_item {
    width: 100%;
    max-width: 560px;
  }
}
