.cols {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* padding: 0 30px; */
}
.col-1 {
  width: 100%;
  height: 100vh;
  max-width: 300px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  padding: 20px;
  z-index: 999;
  top: 0;
  background-color: #fff;
}
.col-1-tab-em .tab-em a {
  width: calc(100% - 40px);
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s cubic-bezier(0.11, -0.09, 0.66, 0.64);
}
.col-1-tab-em .tab-em a {
  display: flex;
  align-items: center;
}
.col-1-tab-em .tab-em i {
  font-size: 1.6rem;
  color: #9092A1;
}
.tab-em a:hover {
  /* padding-left: 28px; */
  background-color: #AAB8FE;
  animation: hasninmation 1s ease 0s 1 normal forwards;
}

@keyframes hasninmation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.tab-em:hover a i {
  color: #142FB6;
}
.tab-em:hover a #span {
  color: #142FB6;
}
.col-1-tab-em .tab-em #span {
  font-size: 1.2rem;
  margin-left: 15px;
  color: #46424c;
  font-weight: 500;
}
.col-1-tab-send-button button {
  width: calc(100% - 40px);
  padding: 14px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #9092A1;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.11, -0.09, 0.66, 0.64);
}
.col-1-tab-send-button button:hover {
  background-color: #142FB6;
}
.col-1-tab-extras {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EFF0F9;
  padding: 20px;
  border-radius: 8px;
}
.col-1-tab-extras a {
  font-size: 1.4rem;
  color: #46424c;
}
.col-2 {
  width: 100%;
  margin-top: 20px;
}
#header-wrapper {
  background-color: #fff;
  padding-right: 29px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#header-wrapper .header-links a {
  margin-left: 35px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #A3A4AE;
}
#header-wrapper .header-links a:hover {
  color: #142FB6;
}
#header-wrapper .header-left-item {
  display: flex;
  align-items: center;
}
#header-wrapper .header-right-item .header-links-2 a {
  font-size: 1.7rem;
  margin-right: 20px;
  color: #A3A4AE;
}
.col-2-input_box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.col-2-input_box img {
  border-radius: 50%;
}
.col-2-input_box .ipt-right {
  margin-left: 10px;
  width: 100%;
  height: 100%;
}
.col-2-input_box .ipt-right input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: none;
  outline: none;
}
.col-2-input_box .ipt-right input::placeholder {
  color: rgb(51, 62, 66);
  font-weight: 500;
}
.ipt-right-off-corner #ipt_icon i {
  padding: 8px 8px;
  background: #dad0ea;
  border-radius: 50%;
  color: #6f38c5;
  font-size: 1.4rem;
  margin-right: 9px;
  cursor: pointer;
}
.ipt-left {
  margin-left: 10px;
}

.post_box {
  width: 100%;
}
@media screen and (max-width: 1166px) {
  .friends_box #_bx_item {
    width: 100%;
    max-width: 560px;
  }
}
