* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --colorA: rgb(255, 255, 255);
  --light: rgb(237, 242, 246);
  --dark: rgb(39, 44, 59);
  --light-btn: rgb(14, 109, 253);
}
body {
  background: var(--light);
}
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: rgba(14, 110, 253, 0.484);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(14, 109, 253);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(14, 110, 253, 0.484);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:active {
  background-color: rgba(14, 110, 253, 0.275);
  border-radius: 10px;
}